*, *::after, *::before  {
  box-sizing: border-box;
}
body {
  font: 14px/1.5 Roboto, Helvica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #E6E5EB;
}

/* Global */
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header {
  background: #000000;
  color: #fff;
  padding: 10px  0;
}
nav img {
  position: relative;
  float: left;
  margin-top: 4px;
}
header h1 {
  text-transform: capitalize;
  font-size: 1.8em;
  font-weight: bold;
  padding-left: 30px;
}
#map img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* Bus List Boxes */
.busLines h2 {
 font-variant-caps:  small-caps;
 font-size: 1.2em;
 padding-top: 10px;
}
.bus,
.bus-header {
  display: grid;
  grid-template-columns: .3fr .4fr 2.3fr 1fr;
  padding: 2% 2%;
  border-bottom: 1.5px solid lightgrey;
  align-items: center;
  background-color: white;
  line-height: 1.25em;
}
.bus-header {
  grid-template-columns: .7fr 2.3fr 1fr;
  font-variant-caps:  all-small-caps;
  font-weight: normal;
  color: gray;
}
.header-line {
  padding-left: 5px;
}
.bus img  {
  width: 20px;
  position: relative;
  float: right;
}
.bus-number {
  font-weight: bold;
  font-size: 1.15em;
  text-align: left;
}
.bus-box {
  border-radius: 5px;
  overflow:hidden;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
}
#toolnav img {
  width: 24px;
  align-items: center;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 7px;
}
#toolnav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

 /* <!-- small cellphones  --> */
@media only screen (min-width: 320px) {
#map img {
  width: 310px;
}
/* <!-- madium cellphones  --> */
@media only screen (min-width: 375px) {
#map img {
 width: 360px;
}
}
/* <!--large cellphones  --> */
@media only screen and (min-width: 411px) {
  #map img {
    width: 400px;
  }
}
