*, *::after, *::before  {
  box-sizing: border-box;
}

/******* Global ******/
body {
  font: 14px/1.5 Roboto, Helvica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #F8F8F8;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/******** Header ******/

/* STATUS BAR */
.status_bar{
  position: fixed;
  top: 0;
  width: 100%;
}
.statusBarImage {
  width: 100%!important;
}

/* Top Nav Bar */
header {
  background: #DADADA;
  color: #000000;
  padding: 15px 0 15px 0;
  position: fixed;
  top: 17px;
  width: 100%;
  box-shadow: 1px 1px 5px #DADADA;
}
.backImage {
  position: relative;
  float: left;
  margin-top: 8px;
}
header h1 {
  font-size: 1.6em;
  font-weight: bold;
  padding-left: 30px;
}

/******* Bus List Boxes ******/
h2 {
  font-size: 1.2em;
  color: #5A5863;
}
.busLines {
  padding-top: 100px;
}
/*  bus icon */
.direction img  {
  width: 18px;
  position: relative;
  float: left;
}
 .direction{
  font-variant-caps: all-petite-caps;
  margin: 2%;
}

 /* Draw a line decoration */
h2 span {
   display: inline-block;
   position: relative;
 }

h2 span:after {
   content: "";
   position: absolute;
   height: 16px;
   border-bottom: 2px solid #DADADA;
   width: 370%;
   margin-left: 10px;
 }
/* Line direction End */

/* Arrow right */
.busLines img {
  width: 20px;
  margin: 2px;
}

/* Bus grid information begin */
.bus,
.bus-header {
  display: grid;
  grid-template-columns: .5fr 1.2fr 1.1fr .2fr;
  align-items: center;
  line-height: 1.25em;
  grid-column-gap: 5px;
  margin: auto;
}
.bus {
  background-color: white;
  padding: 4%;
  border-bottom: 1px solid #DADADA;
}
.bus-header {
  font-weight: normal;
  color: #5A5863;
  padding: 2% 2%;
}
li img {
  position: relative ;
  float: right;
  height: 14px;
  padding-left: 6px;
}

.bus-number {
  font-weight: bold;
  font-size: 1.6em;
  text-align: left;
  line-height: 18px;
}
.bus-frequency {
  text-align: right;
}
.bold_number {
  font-weight: bold;
}
.bus-box {
  overflow:hidden;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px #DADADA;
  border-radius: 5px;
}
.bus:hover {
   background: #FCE9CC;
   text-decoration: underline;
}
/* Bus grid information end */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #DADADA;
  font-size: .8em;
}

.col {
  vertical-align: middle;
  text-align: center;
  margin: 2% 0;
  min-width: 57px;
  float:  left;
  width: 25%;
}

#toolnav img {
  width: 24px!important;
  height: 24px!important;
}
